<div class="bg-red-600 footer-section">
    <footer class="text-white p-8">
        <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-6 md:gap-1"> <!-- Add md:gap-1 -->
            <!-- First Column -->
            <div class="flex flex-col">
                <div class="flex items-center mb-2">
                    <p><i class="fas fa-home me-3"></i>Metsla, Mariti. Jootme maakond Metsla Koeru, Järva küla, 73307,
                        Jarva
                        Estonia vald</p>
                </div>
                <div class="flex items-center mb-2">
                    <p><i class="fas fa-phone me-3"></i>+966596970874</p>
                </div>
                <div class="flex items-center mb-2">
                    <p><i class="fas fa-phone me-3"></i>+966596970874</p>
                </div>
                <div class="flex items-center mb-2">
                    <p><i class="fas fa-envelope me-3"></i>support&#64;xcelerise.com</p>
                </div>
            </div>
            <!-- Second Column -->
            <div class="flex flex-col">
                <a href="#" class="mb-2">Home</a>
                <a href="#" class="mb-2">Services</a>
                <a href="#" class="mb-2">Blogs</a>
                <a href="#" class="mb-2">Career</a>
                <a href="#" class="mb-2">Contact</a>
            </div>
            <!-- Third Column -->
            <div class="flex flex-col">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms and Conditions</a>
            </div>
            <!-- Fourth Column -->
            <div class="flex flex-col">
                <div class="mb-2">Social Media</div>
                <div class="flex items-center">
                    <a href="#" class="me-4 text-reset">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="me-4 text-reset">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#" class="me-4 text-reset">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-twitter-x" viewBox="0 0 16 16">
                            <path
                                d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-right copyright-box">Copyright 2024-2026 by Xcelerise</div>
    </footer>
</div>