<div class="why-us-section">
    <h2 class="text-4xl text-center mb-6">Why Us?</h2>
    <div class="why-us-container max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="why-us-item flex flex-col md:flex-row items-center justify-center md:justify-start">
            <div>
                <img src="assets/digital_transformation.png" alt="Digital Transformation"
                    class="h-10 w-15 mb-2 md:mr-2">
            </div>
            <div>
                <h4 class="text-lg text-left">Digital Transformation</h4>
                <p class="text-gray-700 text-left text-xs">Unleashing organizational potential by strategically adopting
                    and
                    integrating digital technologies for comprehensive business enhancement.</p>
            </div>
        </div>
        <div class="why-us-item flex flex-col md:flex-row items-center justify-center md:justify-start">
            <div>
                <img src="assets/devopps.png" alt="DevOps - Delivery Automation" class="h-10 w-14 mr-3 mb-2 md:mr-2">
            </div>
            <div>
                <h4 class="text-lg text-left">DevOps - Delivery Automation</h4>
                <p class="text-gray-700 text-left text-xs">Streamlining development and operations, we automate delivery
                    pipelines
                    for efficient and rapid software deployment, fostering collaboration and reliability.</p>
            </div>
        </div>
        <div class="why-us-item flex flex-col md:flex-row items-center justify-center md:justify-start">
            <div>
                <img src="assets/cloud.png" alt="Cloud-Native Development and Migration" class="h-10 w-10 mb-2 md:mr-2">
            </div>
            <div>
                <h4 class="text-lg text-left">Cloud-Native Development and Migration</h4>
                <p class="text-gray-700 text-left text-xs">Innovating with agility, we design and migrate applications
                    to
                    cloud-native architectures, ensuring scalability, flexibility, and optimal performance.</p>
            </div>
        </div>
        <div class="why-us-item flex flex-col md:flex-row items-center justify-center md:justify-start">
            <div>
                <img src="assets/consult.png" alt="Architecture Consulting" class="h-10 w-10 mb-2 md:mr-2">
            </div>
            <div>
                <h4 class="text-lg text-left">Architecture Consulting</h4>
                <p class="text-gray-700 text-left text-xs">Crafting robust and scalable architectural frameworks, our
                    consulting
                    services empower businesses to navigate complex technology landscapes with confidence.</p>
            </div>
        </div>
        <div class="why-us-item flex flex-col md:flex-row items-center justify-center md:justify-start">
            <div>
                <img src="assets/agile.png" alt="Agile Project Management/ Engineering Best Practices"
                    class="h-10 w-10 mb-2 md:mr-2">
            </div>
            <div>
                <h4 class="text-lg text-left">Agile Project Management/ Engineering Best Practices</h4>
                <p class="text-gray-700 text-left text-xs">Driving project success through Agile methodologies, we
                    implement
                    engineering best practices, ensuring adaptability, collaboration, and high-quality outcomes.</p>
            </div>
        </div>
    </div>
</div>