<nav class="bg-white">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16 items-center">
            <div class="flex-shrink-0">
                <img class="h-20 w-auto" src="assets/Xcelerise_logo_WBR.png" alt="Xcelerise Logo">
            </div>
            <div class="hidden sm:block">
                <div class="flex justify-center space-x-4">
                    <a href="#" class="text-black rounded-md px-3 py-2 text-sm font-medium">Home</a>
                    <a href="#"
                        class="text-gray-700 hover:text-black rounded-md px-3 py-2 text-sm font-medium">Services</a>
                    <a href="#"
                        class="text-gray-700 hover:text-black rounded-md px-3 py-2 text-sm font-medium">Blogs</a>
                    <a href="#"
                        class="text-gray-700 hover:text-black rounded-md px-3 py-2 text-sm font-medium">Career</a>
                    <a href="#"
                        class="text-gray-700 hover:text-black rounded-md px-3 py-2 text-sm font-medium">Contact</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pb-3 pt-2">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="#" class="text-black block rounded-md px-3 py-2 text-base font-medium">Dashboard</a>
            <a href="#" class="text-gray-700 hover:text-black block rounded-md px-3 py-2 text-base font-medium">Team</a>
            <a href="#"
                class="text-gray-700 hover:text-black block rounded-md px-3 py-2 text-base font-medium">Projects</a>
            <a href="#"
                class="text-gray-700 hover:text-black block rounded-md px-3 py-2 text-base font-medium">Calendar</a>
        </div>
    </div>
</nav>