<div class="partners-section bg-gray-200 p-10">
    <h2 class="text-4xl text-center text-gray-600 mb-6">Partners</h2>
    <div class="partners-container max-w-7xl mx-auto flex flex-wrap justify-center items-center gap-6 p-2">
        <img src="assets/backbase-logo.png" alt="Backbase Logo" class="h-20 w-auto">
        <img src="assets/WSO2_Software_Logo.png" alt="WSO2 Software Logo" class="h-10 w-auto">
        <img src="assets/kafka-logo.png" alt="Kafka Logo" class="h-10 w-auto">
        <img src="assets/camunda-logo.png" alt="Camunda Logo" class="h-10 w-auto">
        <img src="assets/temenos-vector-logo.png" alt="Temenos Vector Logo" class="h-10 w-auto">
        <img src="assets/Microsoft_Azure_Logo.svg.png" alt="Microsoft Azure Logo" class="h-10 w-auto">
    </div>
</div>