<div class="services-section bg-gray-200">
    <h2 class="text-2xl text-gray-500 text-center mb-6">Services</h2>
    <div class="services-container max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
        <div class="service-item flex flex-col items-center">
            <img src="assets/banking.svg" alt="Engagement Banking" class="h-16 w-16 mb-4">
            <h3 class="text-lg font-bold">Engagement Banking</h3>
            <p class="text-gray-700">We custom-build personalized financial solutions with seamless multi-channel access.</p>
        </div>
        <div class="service-item flex flex-col items-center">
            <img src="assets/api.png" alt="Middleware and API Integration" class="h-16 w-16 mb-4">
            <h3 class="text-lg font-bold">Middleware and API Integration</h3>
            <p class="text-gray-700 ">We seamlessly bridge the gap between systems, ensuring a smooth flow of data and enhancing operational efficiency.</p>
        </div>
        <div class="service-item flex flex-col items-center">
            <img src="assets/cybersec.png" alt="Cyber Security" class="h-16 w-16 mb-4">
            <h3 class="text-lg font-bold">Cyber Security</h3>
            <p class="text-gray-700">We provide cutting-edge protection, shielding your digital assets from threats with robust solutions and
            expert vigilance.</p>
        </div>
        <div class="service-item flex flex-col items-center">
            <img src="assets/clock.png" alt="Managed Services" class="h-16 w-16 mb-4">
            <h3 class="text-lg font-bold">Managed Services</h3>
            <p class="text-gray-700">Our round-the-clock dedicated professionals ensure your systems run flawlessly, guaranteeing uninterrupted service and
            assured confidence.</p>
        </div>
    </div>
</div>